@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}
body {
  padding: none;
  margin: none;
  display: flex;
  width: 100vw;
  height: 100vh;
  /* overflow: auto; */
  /* max-width: 1440px; */
}

@media only screen and (max-width:1169px) {
    /*mobile version of code*/
}

@media only screen and (min-width: 1170px) {
    body {
        padding: 0;
        margin: 0;
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    body::-webkit-scrollbar {
        display: none;
    }
  li {
    list-style: none;
    margin: 0 2rem;
    font-size: 18px;
    font-family: 'Barlow';
    font-weight: 600;
    color: hsl(0, 0%, 100%);
  }
  .hero {
    width: 100vw;
    background-image: url(./images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
  }
  ul {
    display: flex;
  }
  @keyframes hover {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-7px);  
        opacity: 1;  
    }
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .aboutLink {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInDrop 1s ease-in-out forwards;
    animation-delay: 0.8s;
  }
  .aboutLink:hover {
    cursor: pointer;
    animation: hover 0.5s ease-in-out infinite alternate;
  }
  .servicesLink {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInDrop 1s ease-in-out forwards;
    animation-delay: 1s;
  }
  .servicesLink:hover {
    cursor: pointer;
    animation: hover 0.5s ease-in-out infinite alternate;
  }
  .projectsLink {   
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInDrop 1s ease-in-out forwards;
    animation-delay: 1.2s;
  }
  .projectsLink:hover {
    cursor: pointer;
    animation: hover 0.5s ease-in-out infinite alternate;
  }
  .logoContainer {
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInDrop 1s ease-in-out forwards;
  }
  .logo {
    scale: 1.6;
  }
  .navlinks {
    display: flex;
    align-items: center;
  }
  .navcta {
    margin: 0 0.9rem;
    padding: 1.1rem;
    border-radius: 30px;
    font-family: 'Fraunces';
    background-color: hsl(0, 0%, 100%);
    color: black;
    font-weight: 700;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInDrop 1s ease-in-out forwards;
    animation-delay: 1.4s;
  }
  .navcta:hover {
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .primaryFocus {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .heading {
    margin-top: 70px;
    font-family: 'Fraunces';
    font-size: 3.8rem;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    letter-spacing: 10px;
    display: block;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInDrop 1s ease-in-out forwards;
    animation-delay: 0.5s;
  }

  @keyframes fadeInDrop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  .arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInDrop 1s ease-in-out forwards;
    animation-delay: 1.5s;
  }
  .arrow-down {
    animation: bounce 1s infinite alternate;
    animation-delay: 1.5s;
  }

  @keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px)
    }
  }
  .mainContent {
    width: 100vw;
  }
  .blockOne {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .blockOne > .textArea {
    width: 50%;
    padding: 0 9rem;
  }
  .blockOne > .textArea > h2{
    font-family: 'Fraunces';
    font-size: 3rem;
  }
  .blockOne > .textArea > p {
    font-family: 'Barlow';
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(232, 10%, 55%);
    line-height: 30px;
  }
  .imageContainer {
    padding: 0;
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .blockOne img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .blockOne a > p {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 10px;
  }
  .blockOne a{
    padding-bottom: 0;
    margin-bottom: 0;
    text-decoration: none;
    font-family: 'Fraunces';
    font-weight: 900;
    color: black;
    line-height: 60px;
  }
  .highlight-effect-yellow {
    position: relative;
    display: inline-block;
  }
  .highlight-effect-yellow::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 110%;
    height: 10px;
    background-color: hsl(51, 100%, 49%, 0.3);
    transform: translateX(-5px);
    border-radius: 10px;
    z-index: -1;
  }
  .highlight-effect-yellow:hover::after {
    background-color: hsl(51, 100%, 49%);
  }
  .blockTwo {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .blockTwo > .textArea {
    width: 50%;
    padding: 0 9rem;
  }
  .blockTwo > .textArea > h2{
    font-family: 'Fraunces';
    font-size: 3rem;
  }
  .blockTwo > .textArea > p {
    font-family: 'Barlow';
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(232, 10%, 55%);
    line-height: 30px;
  }
  .blockTwo img {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
  .blockTwo a > p {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 10px;
  }
  .blockTwo a{
    padding-bottom: 0;
    margin-bottom: 0;
    text-decoration: none;
    font-family: 'Fraunces';
    font-weight: 900;
    color: black;
    line-height: 60px;
  }
  .highlight-effect-red {
    position: relative;
    display: inline-block;
  }
  .highlight-effect-red::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 110%;
    height: 10px;
    background-color: hsl(7, 99%, 70%, 0.3);
    transform: translateX(-5px);
    border-radius: 10px;
    z-index: -1;
  }
  .highlight-effect-red:hover::after {
    background-color: hsl(7, 99%, 70%);
  }
  .blockThree {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .blockThree > .textArea {
    width: 50%;
    padding: 0 9rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
  }
  .blockThree > .textArea > h2{
    margin-bottom: 0;
    font-family: 'Fraunces';
    font-size: 2rem;
  }
  .blockThree > .textArea > p {
    font-family: 'Barlow';
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 60px;
  }
  .graphicDesign {
    margin-bottom: 0;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-image: url('./images/desktop/image-graphic-design.jpg');
    color: hsl(167, 40%, 24%);
  }
  .photography {
    margin-bottom: 0;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-image: url('./images/desktop/image-photography.jpg');
    color: hsl(198, 62%, 26%);
  }
  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
  }
  .testimonialsContentBox {
    margin: auto;
    width: 80%;
  }
  .testimonialHeading {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 1.2rem;
    color: hsl(210, 4%, 67%);
    letter-spacing: 5px;
    margin-bottom: 60px;
  }
  .testimonialsText {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .testimonialsText img {
    margin: 20px;
    border-radius: 50%;
    height: 80px;
  }
  .testBox {
    width: 600px;
  }
  .testBox p {
    line-height: 30px;
    font-weight: 600;
    font-family: 'Barlow';
    font-size: 1.2rem;
    color: hsl(213, 9%, 39%); 

  }
  .testBox p:first-of-type {
    padding: 30px;
  }
  .testBox .names {
    font-family: 'Fraunces';
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .testBox .titles {
    padding: 0;
    margin: 0;
    color: hsl(210, 4%, 67%);
    font-size: 0.9rem;
  }
  .gallery {
    display: flex;   
  }
  .gallery img {
    width: calc(100vw/4);
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(168, 34%, 41%, 0.65);
    filter: brightness(1.4);
  }
  svg.footerLogo {
    margin: 70px;
    margin-bottom: 0;
    scale: 1.6;
    filter: brightness(0.6);
  }
  .footerTextContainer {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  color: hsl(168, 34%, 41%, 0.8);
  filter: brightness(0.6);
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 1.1;
  }
  .footerTextContainer p:hover {
    filter: contrast(2);
    color: white;
    cursor: pointer;
  }
  .socialsContainer {
    filter: brightness(0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 50px;
    margin-bottom: 70px;
    scale: 1.05;
  }
  .socialsContainer svg:hover {
    cursor: pointer;
  }
  .socialsContainer svg:hover path{
    fill: hsl(0, 0%, 100%);
  }
  .attribution {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: hsl(210, 4%, 67%);
    color: white;
    font-family: 'Barlow';
  }
  .attribution a {
    font-weight: 900;
    font-family: 'Fraunces';
    font-size: 1.1rem;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }
  .attribution a:hover {
    color: hsl(213, 9%, 39%);
  }
}